#HOSTNAME=domain.tld
HOSTNAME=localhost:4443
INSTALL=true

#EXTIVERSE_TOKEN=

###                                                 ###
### You probably don't need to edit below this line ###
###                                                 ###

PUID_ID=1000

MYSQL_ROOT_PASSWORD=masterDatabasePassword
MYSQL_DATABASE=defaultDatabase
MYSQL_USER=defaultDatabaseUser
MYSQL_PASSWORD=defaultDatabasePassword
